---
import { EMAIL, PGP_KEY_URL } from "../consts";
import Layout from "../layouts/Page.astro";
---

<Layout
  title="Contact"
  description="Contact"
  pubDate={new Date("August 08 2021")}
>
  <p>
    You can contact me via email at <span class="bg-muted">{EMAIL}</span>. If
    you want to use encrypted communication, you can use my
    <a href={PGP_KEY_URL} class="text-primary underline">pgp key</a>.
  </p>
</Layout>
