---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="grid p-10 px-7 pb-20">
        <div class="text-center">
          <div class="">
            <h1 class="mb-3 text-5xl md:text-7xl font-black text-primary">
              Hi, I'm Adam.
            </h1>
            <p class="text-3xl">
              I build software and like understanding how it works.
            </p>
          </div>

          <p
            class="mx-auto mt-5 max-w-prose text-center text-lg text-pretty text-muted-foreground"
          >
            {SITE_DESCRIPTION}
          </p>

          <div class="mt-10 flex justify-center gap-3 font-medium">
            <a
              class="box-border inline-flex rounded border-2 border-transparent bg-primary p-3 px-6 text-primary-foreground"
              href="/projects">See projects</a
            >
            <a
              class="box-border inline-flex rounded border-2 border-primary p-3 px-6"
              href="/blog">Read my blog</a
            >
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
