---
import { EMAIL, GITHUB_USERNAME, SITE_TITLE } from "../consts";

const today = new Date();
---

<footer class="container mx-auto mt-[20vh] py-5">
  <ul class="flex gap-3 mb-3">
    <li>
      <a href={`mailto:${EMAIL}`}>email</a>
    </li>
    <li>
      <a href={`https://github.com/${GITHUB_USERNAME}`}>github</a>
    </li>
  </ul>

  <p>
    &copy; {today.getFullYear()}
    {SITE_TITLE}. All rights reserved.
  </p>
</footer>
