---
import { EMAIL, GITHUB_USERNAME, SITE_TITLE } from "../consts";

const today = new Date();
---

<footer class="container mx-auto mt-[20vh] py-5 flex justify-between">
  <p>
    &copy; {today.getFullYear()}
    {SITE_TITLE}.
  </p>

  <ul class="flex gap-3 mb-3 underline">
    <li>
      <a href={`mailto:${EMAIL}`}>email</a>
    </li>
    <li>
      <a href={`https://github.com/${GITHUB_USERNAME}`}>github</a>
    </li>
  </ul>
</footer>
