---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="container mx-auto mb-20">
  <nav class="flex justify-between items-center py-5">
    <h2>
      <a
        href="/"
        aria-label={SITE_TITLE}
        class="inline-flex gap-3 font-display leading-none font-semibold text-primary"
      >
        <span
          class="inline-flex h-9 w-9 items-end justify-end bg-foreground text-background"
          >a</span
        >
      </a>
    </h2>
    <div class="flex gap-5">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
  </nav>
</header>
