---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container mx-auto">
      <article>
        <h1 class="text-5xl mb-14">{title}</h1>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
